<h1>New Student</h1>

<%= form_with model: @student do |form| %>
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</div><br>

	<div>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
	</div><br>

	<div>
		<%= form.label :class_name %><br>
		<%= form.number_field :class_name %>
	</div><br>

	<div>
		<%= form.label :subject %><br>
		<%= form.check_box :subject, { multiple: :true }, 'Maths', nil %> Maths
		<%= form.check_box :subject, { multiple: :true }, 'Biology', nil %> Biology
		<%= form.check_box :subject, { multiple: :true }, 'Commerce', nil %> Commerce
	</div><br>

	<div>
		<%= form.label :medium %><br>
		<%= form.select :medium, ['Hindi', 'English'] %>
	</div><br>

	<div>
		<%= form.label :country %><br>
		<%= form.radio_button :country, 'India' %> India <br>
		<%= form.radio_button :country, 'USA' %> USA <br>
	</div><br>

	<%= form.submit %>

<% end %>