<h1>Doctors List</h1>

<table width="30%">
	<thead>
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Email</th>
			<th>Password</th>
		</tr>
	</thead>
	<tbody>
		<% @doctors.each do |doctor| %>
			<tr>
				<td><%= doctor.firstname %></td>
				<td><%= doctor.lastname %></td>
				<td><%= doctor.email %></td>
				<td><%= doctor.password %></td>
			</tr>
		<% end %>
	</tbody>
</table><br>

<%= link_to "Add Doctor", new_doctor_path(@doctor) %>
